# Data Science Tools and Ecosystem

'In this notebook, Data Science Tools and Ecosystem are summarized'

*Objectives*
-  List libraries in Data Science
-  How to use a markdown cell
- How to use a code cell
- Creating a table using 
- Arithmetic expressions

Some of the most popular languages that Data Scientist use are:

1. Python
2. SQL
3. Java
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientist includes:
1. TensorFlow
2. Numpy 
3. Pandas
4. Matplotlib
5. Keras

|Data Science Tools|
--------------------
| Jupyter |
| Apache spark |
| Rstudio |

In [2]:
# This a simple arithmertic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
NGONG SACKWAI NSEN